@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';
body {
	height: 100%;
	display: block;
	overflow: hidden;
	font-family: arial,sans-serif;
	font-size: 13px;
	background: #fff;
	color: #222;
	margin: 0;
}

.head_menu li {
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
	padding-top: 0;
}

.containter {
	display: inline-block;
}

.container img {
	height: 95px;
  width: 269px;
  margin-top: 8%;
  margin-bottom: 2px;
  padding: 20px;
}


header {
	display: inline-block;
	color: #404040;
	width: 100%;
	margin-left: -40px;
	margin-bottom: 10px;
	padding: 0;
}

header li {
	margin-top: 1px;
	margin-right: -12px;
	padding-right: 1px;
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
	padding-top: 0;
}

.head_menu {
	display: block;
	float: right;
	padding: 0;
	margin-top: -10px;
}

header nav img {
	height: 30px;
}
header nav a {
	text-decoration: none;
	padding: 0 8px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin: auto;
}

footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background: #f2f2f2;
	color: #666;
	line-height: 14px;
	border-top: 1px solid #e4e4e4;
}

footer a {
	color: #666;
}

footer li {
	margin-right: 4px;
	list-style-type: none;
	display: inline-block;
	padding-left: 23px;
	padding-top: 0;
}

.l_footer, .r_footer {
	display: inline-block;
	padding-top: -2px;

}

.l_footer {
	float: left;
	margin-left: -33px;
}

.r_footer {
	float: right;
	margin-right: 20px;
}

.fa-search {
    margin-left: 15px;
    margin-right: 5px;
    color: rgb(82, 143, 245);
		position: absolute;
		left: 8px;
		padding: 8px;
		top: 7px;
}

.fa-microphone {
		color: rgb(66, 133, 244);
		position: absolute;
		right: 19px;
		top: 6px;
		padding: 8px;
}
.fa-keyboard {
		color: rgb(123, 123, 123);
		position: absolute;
		right: 55px;
		top: 6px;
		padding: 8px;
}
a {
	color: #404040;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.g-search {
	position: relative;
	display: block;
	font-family: arial,sans-serif;
	padding: 0;
	margin: 0 5px 4px 5px;
	background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  max-width: 568px;
  height: 45px;
  white-space: nowrap;
	border-radius: 30px;
}

.g-search input {
	outline: none;
  display: block;
  position: relative;
	line-height: 0;
	white-space: nowrap;
	color: #222;
	font-size: small;
	border: none;
  padding-left: 67px;
	padding-right: 85px;
  margin: 0;
  width: 100%;
  height: 45px;
  z-index:6;
  left: 0;
  background: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  font: 16px arial,sans-serif;
  line-height: 1.2em;
  box-sizing: border-box;
}

.zad1-MainNavigation-button.mdc-button.mdc-button--unelevated {
    margin: 8px;
    background-color: rgb(244, 244, 244);
    color: rgb(108, 110, 110);
    text-transform: initial;
    font-family: arial, sans-serif;
    letter-spacing: normal;
		position: relative;
}

.zad1-MainNavigation-button.mdc-button.mdc-button--unelevated:hover {
    border: 1px rgb(108, 110, 110) solid;
    color: black;
}
