<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="img/gogol" type="image/x-icon">
	<link rel="icon" href="img/glogo.png" type="image/x-icon">
	<title>Google</title>
	<link rel="stylesheet" href="./css/google.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav class="head_menu">
			<ul>
				<li><a href="#">Gmail</a></li>
				<li><a href="#">Grafika</a></li>
				<li><a href="#"><i class="fas fa-th"></i></a></li>
				<li><a href="" class="menu"><img src="img/bell.png" /></a></li>
				<li><a href="" class="menu"><img src="img/wojtek.png"/></a></li>
			</ul>
		</nav>
	</header>



	<div class="container">
		<center>
			<div class="logo">
				<img src="img/gogol.png" alt="google">
			</div>
				<div class="g-search">
					<div id="app">
					<div class="container-item">
						<input v-model="inputContent" />
						<v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
					</div>
					<i class="fas fa-search"></i>
					<i class="fas fa-microphone"></i>
					<i class="fas fa-keyboard"></i>
				</div>
				<div class="MainNavigation">
					<button class="zad1-MainNavigation-button mdc-button mdc-button--unelevated">Szukaj w Google</button>
					<button class="zad1-MainNavigation-button mdc-button mdc-button--unelevated">Szczęśliwy traf</button>
				</div>
		</center>
	</div>
	<footer>
		<nav class="l_footer">
			<ul>
				<li><a href="#">Reklamuj się</a></li>
				<li><a href="#">Dla firm</a></li>
				<li><a href="#">O nas</a></li>
			</ul>
		</nav>
		<nav class="r_footer">
			<ul>
				<li><a href="#">Prywatność</a></li>
				<li><a href="#">Warunki</a></li>
				<li><a href="#">Ustawienia</a></li>
			</ul>
		</nav>
	</footer>



	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js">
	</script>
	<script src="animals.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="skrypt.js"></script>





</body>
</html>
